<!doctype html>
<html>
  <head>
    <title>Flatiron Pizza Pizza</title>
  </head>
  <body background = "http://s.hswstatic.com/gif/tossing-a-pizza-1.jpg">
    <center><font face="impact", size="100">Flatiron Pizza Pizza</font></center></h1>
    <p></p>
    <center><img src="http://cdn.lolzbook.com/wp-content/uploads/2014/09/Pizza-Is-Love.jpg"></center>
    <p></p>
        <% @bizs_from_yelp.each do |biz| %>
          <center><h3><font face="impact"><%= biz.name %></font></h3></center>
          <p></p>
        <% end %>
  </body>
</html>